package templates

import "net/url"

templ GithubLogin(clientId string, redirectUrl string) {
	{{
		oauthUrl, _ := url.Parse("https://github.com/login/oauth/authorize")
		query := oauthUrl.Query()
		query.Set("client_id", clientId)
		query.Set("redirect_uri", redirectUrl)
		oauthUrl.RawQuery = query.Encode()
	}}
	<a
		class="px-4 py-2 bg-[#adbac7] text-[#22272e]"
		href={ oauthUrl.String() }
	>
		Login with Github
	</a>
}
