package templates

import "uocsclub.net/aoclb/internal/types"

templ LandingPage(loginWidget templ.Component, leaderboardData types.AOCData, daycount int) {
	<div class="nav sticky top-0 left-0 right-0 flex flex-row justify-end p-2">
		@loginWidget
	</div>
    <div class="flex flex-row justify-center align-center w-[100vw] h-[100%]">
	@AOCLeaderboard(leaderboardData, daycount)
    </div>
}
